*{
    box-sizing: border-box;
}
.num-box{
    margin-right: -10px;
}
.num-box button{
    margin-left: -7px;
    margin-right: -7px;
}
.num-box button:nth-of-type(3n+2){
    margin-left: 5px;
    margin-right: 5px;
}
#msg{
    height: 40px;
}