@media screen and (min-width:1200px) {
    .banner {
        .txt-part {
            input {
                width: 60%;
                display: inline-block;
            }

            .free {
                width: 15%;
                display: inline-block;
                text-align: center;
            }
        }
    }

    .six {
        .box {
            p {
                width: 90%;
            }
        }
    }

    .information {
        .last {
            .items {
                margin-right: 100px;

            }

        }
    }
}