@media screen and (min-width:768px) {
    .btn-phone {
        margin-bottom: 250px;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        top: 60px;
        
        .row {
            
            padding-top: 0px;
            flex-direction: column-reverse;
            .pic-part {

                img {
                    width: 100%;
                }

            }

            .txt-part {
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-top: 50px;

                h1 {
                    color: white;
                    font-size: 40px;
                    font-weight: bold;
                    padding-left: 20px;
                }

                .color {
                    color: #00C66A;
                }

                p {
                    color: white;
                    font-size: 20px;
                    padding: 40px 20px;
                    margin-bottom: 0;
                }

                input {
                    width: 300px;
                    display: inline-block;
                    margin: 0;
                    margin-left: 20px;
                }

                .free {
                    width: fit-content;
                    display: inline-block;
                    text-align: center;
                    margin-left: 20px;
                }
            }

        }
    }

    .txt-middle {
        p {
            width: 590px;
        }

        h2 {
            font-size: 36px;
        }
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-bottom: 1px solid rgba(170, 170, 170, 0.3);
        padding-bottom: 70px;
        padding-top: 70px;

        .pic-part {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .txt-part {
            width: 100%;
            text-align: left;

            h2 {
                font-size: 36px;
            }

            p {
                width: 100%;
            }

            .list {
                ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 160px;

                    li {
                        width: 40%;
                        margin: 10px 0;
                        text-indent: -2em;
                        margin-left: 2em;
                    }
                }
            }
        }
    }

    .six {
        .box {
            .content {
                width: calc(100% / 3);
                margin-bottom: 50px;
                padding: 0 25px;
            }
        }
    }

    .global {
        height: 450px;
        background-image: url("https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820");
        background-repeat: no-repeat;
        background-position: bottom -50px left 200px;
        display: flex;
        padding-top: 50px;
        padding-left: 20px;

        .box {
            width: 100%;
        }

        p {
            width: 35%;
        }

        a {
            width: 40%;
            position: relative;
            left: -200px;
        }
    }

    .information {
        padding-left: 50px;

        .covid {
            padding-bottom: 30px;
            width: fit-content;
            margin-top: 100px;

            div {
                justify-content: flex-start;
                margin-top: 0;
            }
        }

        .last {
            align-items: flex-start;

            .wrap,
            p {
                padding: 0;
                margin: 0;

                .items {
                    flex-direction: row;

                    // &::after {
                    //     content: '|';
                    //     color: #fff;
                    //     position: absolute;
                    //     left: 30%;
                    // }

                    // &::before {
                    //     content: '|';
                    //     color: #fff;
                    //     position: absolute;
                    //     left: 60%;
                    // }

                    a {
                        margin-right: 40px;
                    }
                }
            }

            p {
                padding-left: 20px;
                margin-bottom: 100px;
            }

            .language {
                margin-left: -20px;
            }

        }

    }

}