@media screen and (min-width: 992px) {
  body {
    text-align: left;
  }
  .login {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .login .move {
    width: 100%;
    max-width: 1300px;
  }
  .login .move a {
    padding: 0;
  }
  .main-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-header .logo {
    padding-bottom: 20px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: 80px;
    margin-right: 20px;
  }
  .main-header .main-nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .main-nav .btn-phone {
    margin-left: auto;
    margin-right: auto;
  }
  .main-header .main-nav .btn-phone button {
    padding: 10px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-bottom: 100px;
    padding-top: 200px;
  }
  .banner .pic-part {
    width: 50%;
  }
  .banner .pic-part img {
    width: 100%;
  }
  .banner .txt-part {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .banner .txt-part h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
  }
  .banner .txt-part .color {
    color: #00C66A;
  }
  .banner .txt-part p {
    color: white;
    font-size: 20px;
    margin: 40px 0px;
  }
  .banner .txt-part input {
    width: 90%;
    display: inline-block;
  }
  .banner .txt-part .free {
    width: 90%;
    display: inline-block;
    text-align: center;
  }
  .txt-middle p {
    width: 590px;
  }
  .txt-middle h2 {
    font-size: 36px;
  }
  .row {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .row:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .row .pic-part {
    width: 50%;
  }
  .row .pic-part img {
    width: 100%;
  }
  .row .txt-part {
    width: 50%;
    text-align: left;
  }
  .row .txt-part h2 {
    font-size: 36px;
  }
  .row .txt-part .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 180px;
  }
  .row .txt-part .list ul li {
    width: 40%;
    margin: 10px 0;
    text-indent: -2em;
    margin-left: 2em;
  }
  .pic-group {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em auto;
  }
  .pic-group a {
    width: 200px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .pic-group img {
    height: 80%;
  }
  .six-box {
    max-width: 1200px;
  }
  .brand {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    border-top: 1px solid rgba(170, 170, 170, 0.3);
    padding-top: 20px;
  }
  .brand .txt-part {
    width: 40%;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    margin-left: 15px;
  }
  .brand .txt-part span {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .brand .pic-part {
    width: 60%;
    padding-top: 10px;
  }
  .global {
    height: 400px;
    margin-top: 75px;
    background-image: url("https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820");
    background-repeat: no-repeat;
    background-position: bottom right -20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .global .box {
    width: 1200px;
  }
  .global p {
    width: calc(100% - 40px);
    margin: 0;
  }
  .global a {
    width: 30%;
    left: -400px;
  }
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information .wrap {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    width: 100%;
    max-width: 1200px;
    margin-right: 50px;
  }
  .information .wrap .list h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    padding: 0;
    position: static;
    margin-bottom: 30px;
  }
  .information .wrap .list label {
    display: none;
  }
  .information .wrap .list ul {
    display: block;
  }
  .information .wrap .list ul li {
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 10px;
  }
  .information .wrap .list ul li a {
    padding-top: 0;
    padding-bottom: 0;
  }
  .information .covid {
    margin-left: auto;
    margin-right: 50px;
  }
  .information .last {
    width: 100%;
    max-width: 1200px;
  }
  .information .last .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50px;
  }
  .information .last .wrap .items {
    display: inline-block;
  }
  .information .last p {
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: auto;
  }
  .information .language {
    display: none;
  }
}
/*# sourceMappingURL=shopline_RWD_pad_992.css.map */